results/
uploads/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
*.manifest
*.spec
*.log

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
.env
config.py
tasks.json

#added self-generated lab_loop.lock file to prevent errors when servers crash or reboot
lab_loop.lock

# ignore task Queue
tasks.json